body {
  background: #020104;
  color: #FFFFFF;
}

ul {
  position: absolute;
  top: 0;
  right: 0;
}

li {
  list-style: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

audio {
  position: absolute;
  bottom: 0;
  right: 0;
}
